{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/back.svg" alt="back" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/avatar.png" alt="avatar" width="24px" height="24px">
        </button>
    </header> --}}


    {{!-- <h1 class="title">My Blog</h1> --}}

    {{!-- <main class="post__list">
        <div class="post button">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Important</span>
                    <span class="post__category post__category--2">New</span>
                </div>
                <span class="post__date">25.01</span>
            </div>
            <p class="post__info">Road trips are one of my favorite ways to explore a country. They give you the freedom
                to go where you want, travel away
                from the tourist crowds, and usually even save you money compared to taking trains, buses, or flights.
            </p>
        </div>
        <div class="post button post--viewed">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Important</span>
                </div>
                <span class="post__date">24.01</span>
            </div>
            <p class="post__info">As travelers of the world, we have a unique opportunity to break down barriers, foster
                cultural exchange, and create a
                positive impact on communities around the world.</p>
        </div>
        <div class="post button">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Important</span>
                    <span class="post__category post__category--2">New</span>
                </div>
                <span class="post__date">25.01</span>
            </div>
            <p class="post__info">One of the most common questions I get asked about my ability to travel long-term is
                how I can afford to travel so much.
            </p>
        </div>
    </main> --}}
</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}