{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">


    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/back.svg" alt="back" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/avatar.png" alt="avatar" width="24px" height="24px">
        </button>
    </header> --}}


    {{!-- <h1 class="title">Community</h1> --}}

    {{!-- <div class="breadcrumbs">
        <a class="link--disabled">Database</a>
        <a class="link">Information</a>
    </div> --}}

    {{!-- <main class="post">
        <img src="/img/community.png" alt="main image">
        <h2 class="post__title">What is a database?</h2>
        <p class="post__paragraph">Database is a container of information with inference rules and data about human
            experience
            and knowledge in some subject area. In self-learning systems, the database also contains information
            resulting from solving
            previous tasks.</p>
        <button class="button post__button">Join Us In Telegram</button>
    </main> --}}
</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}